body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 0.5em;
    background-image: url("image/background.webp");
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}

h1,
h3 {
    font-size: 1rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.accordion__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion__label {
    display: block;
    padding: 1em 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: antiquewhite;
    border: 1px solid rgb(182, 113, 113);
}

.accordion__title {
    font-size: 1rem;
}

input {
    display: none;
}

.accordion__image-wrapper {
    display: flex;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    transition: all 1.5s ease;
}

@media screen and (min-width: 820px) {

    body {
        font-size: 1em;
    }

    header,
    footer {
        padding: 2em;
    }

    h1,
    h3 {
        font-size: 3rem;
    }

    .accordion__label {
        padding: 1.5em 1.5em;
        font-size: 1.5rem;
    }

    .accordion__image-wrapper {
        margin-top: 1em;
    }
}

@media screen and (min-width: 1920px) {

    body {
        font-size: 1.5em;
    }

    header,
    footer {
        padding: 3em;
    }

    h1,
    h3 {
        font-size: 4rem;
    }

    .accordion__label {
        padding: 2em 2em;
        font-size: 2rem;
    }

    .accordion__image-wrapper {
        margin-top: 2em;
    }
}

.accordion:hover .accordion__label {
    color: rgb(141, 4, 4);
    cursor: pointer;
    background-image: url("image/plus-solid.svg");
    background-repeat: no-repeat;
    background-position: 14em 1.5em;
    background-size: 1em 1em;
}

input:checked + label >.accordion__image-wrapper {
    visibility: visible;
    overflow: visible;
    max-height: 100%;
    opacity: 1;
    transition: all 1.5s ease;
}

.accordion:hover input:checked + .accordion__label, .accordion .accordion__item:hover  .accordion__label {
    color: rgb(141, 4, 4);
    background-image: url("image/minus-solid.svg");
    background-repeat: no-repeat;
    background-position: 14em 1.5em;
    background-size: 1em 1em;
}

.accordion__item:hover  .accordion__image-wrapper {
    cursor: pointer;
    visibility: visible;
    overflow: visible;
    max-height: 100%;
    opacity: 1;
    transition: all 1.5s ease;
}

.accordion .accordion__item:active  .accordion__label {
    color: #000000;
    cursor: pointer;
}